@import '../App/global.scss';

#right {
  width: 100vw;
  height: 100vh;
  background: #E5E5E5;
  position: relative;

  * {
    font-family: "finland";
  }
}
.rightHeader {
  font-size: 100px;
  font-weight: 1000;
  text-align: center;
  margin-top: 1%;
}
.snackItems {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  h2 {
    font-size: 80px;
    font-weight: 800;
  }
}
.roll {
  position: absolute;
  right: 10%;
  filter: drop-shadow(40px 40px 10px #C0C0C0);
}
.coke {
  position: absolute;
  filter: drop-shadow(40px 40px 10px #C0C0C0);

}