
// Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$ubuntu: 'Ubuntu', sans-serif;

@font-face {
  font-family: 'finland';
  src: url('../../../dist/assets/FinlandRoundedThin.ttf');
}

// Colors
$gold: #F6B404;
$black: #1D1D1B;
$white: #FFF7EC;