
// Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$ubuntu: 'Ubuntu', sans-serif;

@font-face {
  font-family: 'finlandThin';
  src: url('../../../dist/assets/FinlandRoundedThin.ttf');
}
@font-face {
  font-family: 'finlandReg';
  src: url('../../../dist/assets/FinlandRoundedRegular.ttf');
}
@font-face {
  font-family: 'finlandBold';
  src: url('../../../dist/assets/FinlandRoundedBold.ttf');
}

/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserrat: 'Montserrat', sans-serif;

// Colors
$gold: #F6B404;
$black: #484848;
$white: #FFF7EC;